<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
        <div class="footer-col ">
     
          <a href="https://instagram.com/archiveofnoisetransmission">@archiveofnoisetransmission</a>
          <a href="mailto:archiveofnoisetransmission@gmail.com">archiveofnoisetransmission@gmail.com</a>
          <a href="http://archiveofnoisetransmission.mixlr.com">http://archiveofnoisetransmission.mixlr.com</a>
        </div>
      </div>
  
    </div>
  
  </footer>
  