#calendar-container{
  border:2px solid #111;
  padding: 25px;
  // pointer-events: none;
  background-color: #111;
  overflow: hidden;
}
#calendar-container > *{
  transform:scale(1.5) translate(15%,7%);
}
/* CSS styles for the ant element */
body{
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" style="font-size: 20px;"><text y="16">🐜</text></svg>'), auto;
}
#archive-back{
  display: none;
}
#archive-back.on{
  display: inline-block;
  position:relative;
  margin-bottom:0.5em;
}
#archive-container{
  border:0px solid #111;

  // pointer-events: none;
  // background-color: #111;
  overflow: hidden;
  height: 440px;
}
#archive-container > *{
  top:-27%;
  z-index: 0;
  position:relative;
}
#archive-container iframe{
  opacity: 0.9;
  mix-blend-mode: darken;
}
.post-content img{
  width:20%;
}
/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-color;
  min-height: $spacing-unit * 1.865;
  border-bottom: 2px solid $brand-color;
  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 9;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

#sticky-listen{
  position:fixed;
  right:0;
  text-align: center;
  overflow: hidden;
  z-index: 9;
  bottom:120px;
  background-color: darken($brand-color, 20%);
  color: $background-color;
  padding: 5px;
  &:hover{
    background-color: $brand-color;
  }
  a{
    color: $background-color;
    font-size: $base-font-size;
    &:hover{
      text-decoration: none;
    }
    small{
      font-size: $base-font-size;
      line-height:0;
      letter-spacing: 0.2em;
      img{
        width:20px;
        filter: invert(1);
      }
    }
  }
}


.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }
  
  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background: $background-color;
  border-top: 2px solid $text-color;
  padding: $spacing-unit 0;
}
.site-footer a{
  color: $text-color;
}
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  max-width: $content-width / 2;
  // margin-bottom: $spacing-unit / 2;
  // padding-left: $spacing-unit / 2;
}
.footer-col p{
  margin-bottom:0;
}
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .post-content img{
    width:100%;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  max-width: 1000px;
  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
