---
layout: default
---

<div class="archive">    
  <h2 class="post-list-heading">{{ page.list_title | default: "Previous Shows" }}</h2>
  <div id="archive-container">
      <iframe src="https://archiveofnoisetransmission.mixlr.com/recordings" style="border: 0;filter:grayscale(1) contrast(2);" width="100%" height="600" frameborder="0" scrolling="yes"></iframe> 

  </div>

    <!-- {%- if site.shows.size > 0 -%}
    {% assign curDate = site.time | date: '%s' %}
    <ul class="post-list">
      {% assign showsReversed = site.shows | reverse %}
      {%- for show in showsReversed -%}
        {% assign showStartDate = show.date | date: '%s' %}
        {% assign front = show.date | date: '%F ' %} 
      {% assign end = show.end  | prepend: front %}
      {% assign showEndDate = end | date: '%s' %}
        {% if curDate >= showEndDate %}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ show.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ show.url | relative_url }}">
            {{ show.title | escape }}
          </a>
          {%- if show.featuring -%}
            {{ show.featuring }}
          {%- endif -%}
        </h3>
        {%- if site.show_excerpts -%}
          {{ show.excerpt }}
        {%- endif -%}
      </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
    
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%} -->
</div>
