---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {% assign curDate = site.time | date: '%s' %}
  {%- for show in site.shows limit:1 -%}
    {% assign showStartDate = show.date | date: '%s' %}
      <h2>{{show.title}}</h2>
      <h4>{{show.date | date: '%b %e, %R'}} - {{show.end | date: '%R'}} </h4>
      {% if showStartDate <= curDate %}
        <em>This live stream is over. Visit <a href='/schedule'>the schedule</a> to view upcoming shows.</em>
      {% endif %}
      {{show.content}}
  {%- endfor -%}


</div>
